{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h4 class="mb-5 text-left">Operations history</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Share</th>
                <th scope="col">Price</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
            <tr>
                <td>{{ operation.symbol }}</td>
                <td>{{ operation.shares }}</td>
                <td>{{ operation.value }}</td>
                <td>{{ operation.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
